@model IEnumerable<U2_W2_D5_BACK.Models.ServizioAggiuntivo>

@{
    ViewBag.Title = "ListaServizi";
}

<h2>ListaServizi</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescrizioneServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataServizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDPrenotazione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescrizioneServizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoServizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataServizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDPrenotazione)
        </td>
        <td>
            @Html.ActionLink("Aggiungi Servizio", "AggiungiServizi", new { id = item.IDPrenotazione })
        </td>
    </tr>
}

</table>
